/*Waiting Room Elements*/

.playerarea {
	width: 350px;
	height: 200px;
	border: black;
	text-align: center;
	font-size: 30px;
}
/*GameRoom Elements*/

.gameplayarea {
	margin-left: auto;
	margin-right: auto;
}
.drawingboard {
	border: none;
	width: 350px;
	height: 400px;
	background-color: #FFFFFF;
}
.leaderboard{
	border: none;
	width: 149px;
	height: 400px;
	background-color: rgb(41, 34, 34);
}
.playerBox{
	border: none;
	width: 149px;
	height: 100px;
	text-align: center;
	vertical-align: middle;
}

.wordspace{
	width: 350px;
	height: 50px;
	border: none;
	background-color: #2292A4;
	text-align: center;
	font-size: 30px;
}
.toolbox{
	width: 502px;
	height: 50px;
	border: none;
	background-color: #2292A4;
	text-align: center;
	font-size: 30px;
}
.timerspace{
	border: none;
	width: 149px;
	height: 50px;
	background-color: blue;
	text-align: center;
}
.roomcode{
	border: none;
	width: 149px;
	height: 50px;
	background-color: whitesmoke;
	text-align: center;
}
.roundspace{
	border: none;
	width: 119px;
	height: 50px;
	background-color: red;
	text-align: center;
}
.turnspace{
	border: none;
	width: 109px;
	height: 50px;
	background-color: yellow;
	text-align: center;
}
.artistspace{
	border: none;
	width: 119px;
	height: 50px;
	background-color: green;
	text-align: center;
}
.guessspace{
	border: none;
	width: 501px;
	height: 50px;
	background-color: #2292A4;
	text-align: center;
}
.difficultyspace{
	border: none;
	width: 501px;
	height: 50px;
	background-color: #2292A4;
	text-align: center;
}
.blankLetter{
	padding: 5px 5px;
	font-size: 30px;
	text-align: center;
}
.box{
	width: 20px;
	height: 20px;
}
.artistselectarea{
	border: none;
	width: 501px;
	height: 100px;
	background-color: brown;
}

/*Home Page Classes*/
.logo {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 15%;
	height: 15%;
	padding: 10px;
	
}

.infobutton {
	display: block;
	margin-left: auto;
	top: 0cm;
	width: 3%;
	height: 3%;
	padding: 10px;
	
}

.logininfo {
	padding: 1rem;
	margin: 2rem 0;
	border-color: grey;
	border-style: outset;
	border-width: 5px;
	background-color: white;
}
.about {
	padding: 1rem;
	margin: 2rem 0;
	border-style: outset;
	border-color: grey;
	border-width: 20px;
	background-color: white;
}

.options {
	padding: 1rem;
	margin: 2rem 0;
	border: none;
}

body {
	margin: 2rem;
	cursor: url("img/pencil-cursor.png"), auto;
	background-image: url("img/bg-tessellation.png");
	background-repeat: repeat;
	background-size: 200px 200px;
}

table, tr, td {
	border-collapse: collapse;
	margin-left: auto;
	margin-right: auto;
}

h2, p {
	text-align: center;
	font-family: "Permanent Marker", auto;
}

.form {
	padding: 1rem;
	margin: 2rem 0;
	border: 1px solid black;
}
.form label {
	font-weight: bold;
}
.form div {
	margin: 1rem 0;
}

#message {
	margin: 1rem 0;
}

.button {
	border-radius: 8px;
	background-color: #f4511e;
	border: none;
	color: #FFFFFF;
	text-align: center;
	font-size: 20px;
	padding: 10px;
	width: 100px;
	cursor: pointer;
	margin: 5px;
}

.button-disabled{
	border-radius: 8px;
	background-color: #999;
	border: none;
	color: #555;
	text-align: center;
	font-size: 20px;
	padding: 10px;
	width: 100px;
	margin: 5px;
	cursor: not-allowed;
}
.disabled { /* for disabling buttons (later use) */
	opacity: 0.6;
	cursor: not-allowed;
}


.center {
	display: flex;
	justify-content: center;
	align-items: center;
  }