/*GameRoom Elements*/

.gameplayarea {
	margin-left: auto;
	margin-right: auto;
}
.drawingboard {
	border: none;
	width: 350px;
	height: 400px;
	background-color: #FFFFFF;
}
.leaderboard{
	border: none;
	width: 149px;
	height: 400px;
	background-color: grey;
}

.wordspace{
	width: 501px;
	height: 50px;
	border: none;
	background-color: #2292A4;
}
.guessspace{
	border: none;
	width: 501px;
	height: 50px;
	background-color: #2292A4;
}

/*Home Page Classes*/
.logo {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 15%;
	height: 15%;
	padding: 10px;
	
}

.about {
	padding: 1rem;
	margin: 2rem 0;
	border-style: outset;
	border-color: grey;
	border-width: 20px;
	background-color: white;
}

.options {
	padding: 1rem;
	margin: 2rem 0;
	border: none;
}

body {
	margin: 2rem;
	cursor: url("img/pencil-cursor.png"), auto;
	background-image: url("img/bg-tessellation.png");
	background-repeat: repeat;
	background-size: 200px 200px;
}

table, tr, td {
	border-collapse: collapse;
	margin-left: auto;
	margin-right: auto;
}

h2, p {
	text-align: center;
	font-family: "Permanent Marker", auto;
}

.form {
	padding: 1rem;
	margin: 2rem 0;
	border: 1px solid black;
}
.form label {
	font-weight: bold;
}
.form div {
	margin: 1rem 0;
}

#message {
	margin: 1rem 0;
}

button {
	border-radius: 8px;
	background-color: #f4511e;
	border: none;
	color: #FFFFFF;
	text-align: center;
	font-size: 26px;
	padding: 20px;
	width: 200px;
	transition: all 0.5s;
	cursor: pointer;
	margin: 5px;
}

button.disabled{
	background: #999;
	color: #555;
	cursor: not-allowed;
}
.disabled { /* for disabling buttons (later use) */
	opacity: 0.6;
	cursor: not-allowed;
}


.center {
	display: flex;
	justify-content: center;
	align-items: center;
  }